* {
    font-family: "Monospace", "Helvetica", sans-serif;
}

body {
    margin: 0;
    border: 0px;
    padding: 5% 10%;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background: #4e4e4e;
}

h1, h2, p {
    color: white;
}

.container-main {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

header {
    /* flex-grow: 1; */
}

footer {
    /* flex-grow: 1; */
}

.container-info {
    border: 1px solid white;
    /* flex-grow: 5; */
    height: 100%;
    
    display: flex;
}

aside {
    box-sizing: border-box;
    border: 1px solid yellow;
    width: 72px;
}

.container-inside {
    border: 1px solid black;
}

